.u-section-7-1 {
  background-image: none;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 422px;
}

.u-section-7-1 .u-layout-wrap-1 {
  margin-top: 115px;
  margin-bottom: 60px;
}

.u-section-7-1 .u-layout-cell-1 {
  min-height: 217px;
}

.u-section-7-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-7-1 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 174px;
}

.u-section-7-1 .u-image-2 {
  min-height: 217px;
  background-image: url("images/629c09841d8e36c31e54a0b2d6d4e347--dental-assistant-dental-hygiene-Copy.jpg");
  background-position: 77.5% 50%;
}

.u-section-7-1 .u-image-3 {
  min-height: 217px;
  background-image: url("images/dental-jerellery.jpg");
  background-position: 50% 50%;
}

.u-section-7-1 .u-image-4 {
  min-height: 217px;
  background-image: url("images/bridge.jpg");
  background-position: 32.17% 50%;
}

.u-section-7-1 .u-layout-cell-5 {
  min-height: 217px;
}

.u-section-7-1 .u-container-layout-5 {
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-7-1 .u-text-1 {
  font-family: verdana;
  margin: 7px 0 0 20px;
}

.u-section-7-1 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: verdana;
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    margin-top: 95px;
    margin-bottom: 17px;
  }

  .u-section-7-1 .u-layout-cell-1 {
    min-height: 202px;
    background-position: 50% 50%;
  }

  .u-section-7-1 .u-image-1 {
    height: 143px;
  }

  .u-section-7-1 .u-image-2 {
    min-height: 202px;
  }

  .u-section-7-1 .u-image-3 {
    min-height: 202px;
  }

  .u-section-7-1 .u-image-4 {
    min-height: 202px;
  }

  .u-section-7-1 .u-layout-cell-5 {
    min-height: 202px;
  }

  .u-section-7-1 .u-container-layout-5 {
    padding-right: 16px;
  }

  .u-section-7-1 .u-text-1 {
    position: relative;
    margin-top: 0;
    margin-left: 16px;
  }

  .u-section-7-1 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 2455px;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    margin-top: 115px;
    margin-bottom: 113px;
  }

  .u-section-7-1 .u-layout-cell-1 {
    min-height: 686px;
  }

  .u-section-7-1 .u-image-1 {
    height: 548px;
  }

  .u-section-7-1 .u-image-2 {
    min-height: 686px;
  }

  .u-section-7-1 .u-image-3 {
    min-height: 686px;
  }

  .u-section-7-1 .u-image-4 {
    min-height: 686px;
  }

  .u-section-7-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7-1 .u-container-layout-5 {
    padding-right: 13px;
  }

  .u-section-7-1 .u-text-1 {
    margin-top: 7px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 1435px;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-7-1 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-7-1 .u-image-1 {
    height: 411px;
  }

  .u-section-7-1 .u-image-2 {
    min-height: 515px;
  }

  .u-section-7-1 .u-image-3 {
    min-height: 515px;
  }

  .u-section-7-1 .u-image-4 {
    min-height: 515px;
  }

  .u-section-7-1 .u-container-layout-5 {
    padding-right: 9px;
  }

  .u-section-7-1 .u-text-1 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-layout-wrap-1 {
    margin-top: 57px;
    margin-bottom: 70px;
  }

  .u-section-7-1 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-7-1 .u-image-1 {
    height: NaNpx;
  }

  .u-section-7-1 .u-image-2 {
    min-height: 264px;
  }

  .u-section-7-1 .u-image-3 {
    min-height: 264px;
  }

  .u-section-7-1 .u-image-4 {
    min-height: 264px;
  }

  .u-section-7-1 .u-layout-cell-5 {
    min-height: 264px;
  }

  .u-section-7-1 .u-container-layout-5 {
    padding-right: 6px;
  }

  .u-section-7-1 .u-text-1 {
    margin-top: 32px;
    margin-left: 6px;
  }
}.u-section-7-2 {
  background-image: none;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 439px;
}

.u-section-7-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px -21px 60px auto;
}

.u-section-7-2 .u-image-1 {
  min-height: 249px;
  background-image: url("images/Flexible-Partial-Denture-Copy.jpg");
  background-position: 100% 25.9%;
}

.u-section-7-2 .u-image-2 {
  min-height: 249px;
  background-image: url("images/invisalign-or-braces.jpg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-image-3 {
  min-height: 249px;
  background-image: url("images/fa8f8ffc6433d7cdd5367786847bb4ae.jpg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-image-4 {
  min-height: 249px;
  background-image: url("images/6c1465a75fc94dfcb4c70764c7d51075.jpg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-image-5 {
  min-height: 249px;
  background-image: url("images/fe8d6a07984101c64780055c347fbcda1.jpg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-container-layout-5 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-7-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-7-2 .u-image-1 {
    min-height: 205px;
  }

  .u-section-7-2 .u-image-2 {
    min-height: 205px;
  }

  .u-section-7-2 .u-image-3 {
    min-height: 205px;
  }

  .u-section-7-2 .u-image-4 {
    min-height: 205px;
  }

  .u-section-7-2 .u-image-5 {
    min-height: 205px;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 2455px;
  }

  .u-section-7-2 .u-layout-wrap-1 {
    width: 642px;
    margin-left: 39px;
  }

  .u-section-7-2 .u-image-1 {
    min-height: 458px;
  }

  .u-section-7-2 .u-image-2 {
    min-height: 458px;
  }

  .u-section-7-2 .u-image-3 {
    min-height: 458px;
  }

  .u-section-7-2 .u-image-4 {
    min-height: 458px;
  }

  .u-section-7-2 .u-image-5 {
    min-height: 458px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 1435px;
  }

  .u-section-7-2 .u-layout-wrap-1 {
    width: 383px;
    margin-left: 78px;
  }

  .u-section-7-2 .u-image-1 {
    min-height: 249px;
  }

  .u-section-7-2 .u-image-2 {
    min-height: 249px;
  }

  .u-section-7-2 .u-image-3 {
    min-height: 249px;
  }

  .u-section-7-2 .u-image-4 {
    min-height: 249px;
  }

  .u-section-7-2 .u-image-5 {
    min-height: 249px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-layout-wrap-1 {
    margin-left: auto;
    width: auto;
  }
}.u-section-1 {
  background-image: url("images/v.jpg");
  background-position: 50% 50%;
  min-height: 531px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 531px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 0 80px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  font-size: 4.6875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.6;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  margin: 125px auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 531px;
  background-image: url("images/SelfieCity_20210817191420_org1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 423px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 474px;
    background-position: 100% 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 45px;
  }

  .u-section-1 .u-image-1 {
    background-position: 0% 50%;
    min-height: 438px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 363px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    background-position: 39.48% 100%;
    min-height: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 812px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 55px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 419px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 563px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 384px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -7px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-image-1 {
    min-height: 264px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 343px;
}

.u-section-2 .u-group-1 {
  min-height: 314px;
  width: 800px;
  margin: 1px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 29px 8px 0 23px;
}

.u-section-2 .u-line-1 {
  width: 71px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 34px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-style: normal;
  margin: 0 -136px 0 -106px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-2 .u-group-1 {
    min-height: 315px;
    margin-top: 36px;
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 59px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2 .u-group-1 {
    min-height: 365px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-2 .u-group-1 {
    min-height: 340px;
    margin-top: 34px;
    margin-bottom: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-line-1 {
    width: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-2 .u-group-1 {
    min-height: 478px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-line-1 {
    width: 35px;
  }
}.u-section-3 {
  min-height: 799px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 105px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 654px;
}

.u-section-3 .u-image-1 {
  height: 343px;
  margin-top: 129px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 326px;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-family: verdana;
  margin: 15px 20px 0 224px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 16px 15px 0 35px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 328px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 6px;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 87px 377px 0 20px;
}

.u-section-3 .u-image-2 {
  width: 299px;
  height: 206px;
  margin: -210px 47px 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: -241px 377px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 711px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 57px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 539px;
    background-position: 50% 50%;
    z-index: auto;
  }

  .u-section-3 .u-image-1 {
    height: 283px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 269px;
    z-index: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 25px;
    margin-right: 0;
    margin-left: 135px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 200px;
  }

  .u-section-3 .u-layout-cell-3 {
    z-index: auto;
    min-height: 301px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 5px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 70px;
    margin-right: 245px;
    margin-left: 16px;
  }

  .u-section-3 .u-image-2 {
    width: 246px;
    margin-top: -207px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 297px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1528px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 67px;
    margin-bottom: 51px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 826px;
  }

  .u-section-3 .u-image-1 {
    height: 434px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 13px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 120px;
    margin-left: 305px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 38px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 146px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 4px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 51px;
    margin-right: 188px;
    margin-left: 13px;
  }

  .u-section-3 .u-image-2 {
    width: 415px;
    margin-top: 54px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -486px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 857px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 105px;
    margin-bottom: 105px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 620px;
  }

  .u-section-3 .u-image-1 {
    height: 326px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 97px;
    margin-left: 78px;
  }

  .u-section-3 .u-text-2 {
    width: 416px;
    margin-bottom: 35px;
    margin-left: 115px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 190px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 3px;
  }

  .u-section-3 .u-text-3 {
    width: 390px;
    margin-top: 70px;
    margin-right: 141px;
    margin-left: 9px;
  }

  .u-section-3 .u-image-2 {
    width: 328px;
    margin-top: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -438px;
    margin-right: 117px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1405px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 390px;
  }

  .u-section-3 .u-image-1 {
    height: 205px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 87px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-2 {
    width: 262px;
    margin-bottom: 0;
    margin-left: 72px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 148px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 36px;
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 323px;
    margin-top: 115px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: -547px;
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 326px;
}

.u-section-4 .u-group-1 {
  min-height: 266px;
  width: 800px;
  margin: 30px 152px 30px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 52px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-4 .u-group-1 {
    min-height: 201px;
    margin-top: 46px;
    margin-bottom: 19px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 25px;
    margin-bottom: -2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-group-1 {
    min-height: 218px;
    margin-top: 51px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 4px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 642px;
}

.u-section-5 .u-text-1 {
  margin: 8px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 540px;
  width: 940px;
  margin: 23px auto 32px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-5 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-gallery-1 {
    width: 340px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 753px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1123px;
  margin: 51px 0 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: normal;
  margin: 79px 6px 0 15px;
}

.u-section-6 .u-text-2 {
  margin: 35px 6px 0 15px;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 24px 35px 0 15px;
}

.u-section-6 .u-image-1 {
  min-height: 581px;
  background-image: url("images/VIN_0676.JPG");
  background-position: 0% 50%;
}

.u-section-6 .u-image-2 {
  width: 251px;
  height: 251px;
  background-image: url("images/IMG-20210205-WA00161.jpg");
  background-position: 50% 50%;
  margin: -127px 413px 17px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 486px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    letter-spacing: 2px;
    margin-top: 33px;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-top: 20px;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: 20px;
    margin-right: 105px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 80px;
  }

  .u-section-6 .u-image-1 {
    min-height: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 60px;
  }

  .u-section-6 .u-image-1 {
    min-height: 577px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 289px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 38px;
  }

  .u-section-6 .u-image-1 {
    min-height: 363px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 89px;
  }
}.u-block-e4cf-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-e4cf-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -63px);
  width: 35px;
  height: 35px;
}

.u-block-e4cf-4 {
  position: absolute;
  width: 35px;
  height: 35px;
  right: calc(((100% - 1140px) / 2)  + -57px);
}

@media (max-width: 1199px) {
  .u-block-e4cf-3 {
    left: calc(((100% - 940px) / 2)  + -52px);
  }

  .u-block-e4cf-4 {
    right: calc(((100% - 940px) / 2)  + -47px);
  }
}

@media (max-width: 991px) {
  .u-block-e4cf-3 {
    left: calc(((100% - 720px) / 2)  + -40px);
  }

  .u-block-e4cf-4 {
    right: calc(((100% - 720px) / 2)  + -36px);
  }
}

@media (max-width: 767px) {
  .u-block-e4cf-3 {
    left: calc(((100% - 540px) / 2)  + -105px);
  }

  .u-block-e4cf-4 {
    right: calc(((100% - 540px) / 2)  + -101px);
  }
}

@media (max-width: 575px) {
  .u-block-e4cf-2 {
    margin-top: 145px;
    margin-left: 184px;
  }

  .u-block-e4cf-3 {
    left: calc(((100% - 340px) / 2)  + -145px);
    margin-top: 145px;
    margin-left: 220px;
  }

  .u-block-e4cf-4 {
    right: calc(((100% - 340px) / 2)  + -142px);
  }
}.u-section-8 .u-sheet-1 {
  min-height: 786px;
}

.u-section-8 .u-text-1 {
  margin: 69px auto 0;
}

.u-section-8 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-8 .u-gallery-1 {
  height: 557px;
  margin-top: 30px;
  margin-bottom: 47px;
  grid-gap: 17px 17px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-8 .u-gallery-1 {
    height: 459px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }

  .u-section-8 .u-gallery-1 {
    height: 791px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2064px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-gallery-1 {
    height: 2373px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1386px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1494px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 775px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 86px auto 0 0;
}

.u-section-9 .u-image-1 {
  background-image: url("images/Untitled4.jpg");
  min-height: 603px;
  background-position: 50% 50%;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 603px;
}

.u-section-9 .u-container-layout-2 {
  padding-right: 27px;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  font-family: verdana;
  margin: 75px 0 0 60px;
}

.u-section-9 .u-text-2 {
  margin: 69px 0 0 124px;
}

.u-section-9 .u-btn-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: verdana;
  margin: 45px 0 0 auto;
}

.u-section-9 .u-image-2 {
  width: 289px;
  height: 289px;
  object-position: 50% 50.33%;
  background-position: 50% 50%;
  background-image: url("images/3ff41f589a5756ddc93b522a821f1375.jpg");
  margin: -528px auto 80px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: 69px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 102px;
  }

  .u-section-9 .u-btn-1 {
    margin-bottom: 36px;
  }

  .u-section-9 .u-image-2 {
    width: 238px;
    height: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-image-1 {
    min-height: 547px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 31px;
    margin-left: 44px;
    width: 316px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 65px;
  }

  .u-section-9 .u-btn-1 {
    margin-bottom: 31px;
  }

  .u-section-9 .u-image-2 {
    width: 183px;
    height: 183px;
    margin-top: -76px;
    margin-bottom: 35px;
    margin-left: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    min-height: 382px;
    background-position: 36.4% 50%;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 603px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 13px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 119px;
    margin-left: 28px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 59px;
  }

  .u-section-9 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-9 .u-image-2 {
    width: 171px;
    height: 171px;
    margin-top: -689px;
    margin-bottom: 521px;
    margin-left: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 659px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-9 .u-text-1 {
    margin-top: 148px;
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 40px;
    margin-right: 8px;
    margin-left: 13px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 40px;
    margin-right: 8px;
    margin-bottom: 60px;
  }

  .u-section-9 .u-image-2 {
    margin-top: -745px;
    margin-bottom: 607px;
    margin-left: 13px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 740px;
}

.u-section-10 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-family: Livvic;
  margin: 45px 342px 0 0;
}

.u-section-10 .u-text-2 {
  margin: 23px 387px 0 0;
}

.u-section-10 .u-shape-1 {
  background-image: none;
  width: 1140px;
  height: 469px;
  margin: 23px auto 0;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1140px;
  margin: -447px auto 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 407px;
  margin-top: 0;
}

.u-section-10 .u-container-layout-1 {
  padding: 0;
}

.u-section-10 .u-image-1 {
  width: 280px;
  left: 0;
  right: auto;
}

.u-section-10 .u-text-3 {
  font-size: 1.5rem;
  margin: 57px 0 0 287px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 407px;
}

.u-section-10 .u-container-layout-2 {
  padding: 0 8px;
}

.u-section-10 .u-image-2 {
  width: 287px;
  left: 0;
  right: auto;
}

.u-section-10 .u-text-4 {
  margin: 57px 7px 0 293px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-10 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-10 .u-shape-1 {
    width: 940px;
    height: 266px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -373px;
  }

  .u-section-10 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 336px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 187px;
  }

  .u-section-10 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 336px;
  }

  .u-section-10 .u-image-2 {
    left: auto;
    right: 23px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 0;
    margin-left: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-right: 93px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-right: 247px;
  }

  .u-section-10 .u-shape-1 {
    width: 720px;
    height: 186px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -293px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 77px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 67px;
  }

  .u-section-10 .u-shape-1 {
    width: 502px;
    height: 1042px;
    margin-top: 290px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1280px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-shape-1 {
    width: 340px;
    height: 620px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -858px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
  }
}