html, body {
    height: 100% !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.2rem !important;
    margin: 0;
    padding: 0;
}

nav {
    height: 50px !important;
    line-height: 50px !important;
}

.navbar-sticky {
    top: 0;
    position: sticky;
    z-index: 10;
}

.appointment-btn {
    position: absolute;
    right: 10px;
    top: 30px;
    width: fit-content;
}

.sidenav-trigger {
    top: 10px;
}

.logo-bg-color {
    background-color: #0b0b0e;
}

.branding .site-title {
    color: yellowgreen;
    font: 800 60px 'Montserrat',sans-serif;
    height: 100px;
    line-height: 100px;
}

.hide-on-med-and-down .navbar-fixed .brand-logo {
    padding-right: 40px !important;
}

.hide-on-med-and-down .brand-logo, .brand-logo div {
    height: 100% !important;
    top: 12px !important;
}

.hide-on-large-only .brand-logo {
    height: 100% !important;
    top: 7px !important;
}

.hide-on-large-only nav {
    line-height: 30px !important;
}

.hide-on-large-only img {
    height: 40px;
}

.hide-on-large-only .team-name {
    height: 20px !important;
    font-size: 1rem;
    display: block;
    position: absolute;
    left: 36%;
    top: 58%;
}

#content-section {
    padding: 0 !important;
    overflow: hidden !important;
}

.mobile-slogan-content {
    padding: 20px 0;
    background-color: black;
    color: yellowgreen !important;
    font-size: 1.5rem !important;
    font-family: 'Special Elite', cursive;
}

.slogan-content {
    position: absolute;
    bottom: 0;
    left: 70px;
}

.slogan-text {
    font-family: 'Special Elite', cursive;
    font-size: 60px;
    color: #fff;
    margin-bottom: 0;
    display: flex;
    justify-content: left;
}

#welcome {
    background: url("../images/all-bg.jpeg");
    height: 100vh;
}

.welcome-content {
    padding-top: 30px;
}

.welcome-content, .mission-content {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    color: #333333;
}

.welcome-content h1, .about-content h1, .mission-content h1 {
    font-size: 42px!important;
    font-family: 'Special Elite', cursive;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.welcome-content h1::after, .about-content h1::after, .mission-content h1::after {
    display: block;
    content: '';
    width: 90px;
    height: 2px;
    background-color: #4fc1bc;
    margin: 20px auto;
}

.welcome-content p, .about-content p, .mission-content p {
    font-size: 1.2rem!important;
    font-weight: 400;
}

#mission {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/472f9f6b176af7f76633240a059b7fa1405c2f8459b6764a5ebe6.jpeg") center;
    background-size: cover;
    background-position-y: 40%;
}

.mission-content {
    color: whitesmoke;
    padding-top: 150px;
}

.about-content {
    padding: 60px 20px;
}

.doctors-content {
    margin: 0 0 0 60px !important;
    padding: 20px;
}

.profile-content {
    max-width: 1000px;
    color: #333333;
    padding-left: 40px !important;
}

.profile-content .profile-title {
    font: 50px 'Lusitana',serif;
    color: #07435d;
    text-align: left;
    margin: 0 !important;
}

.profile-content p {
    margin-top: 0!important;
    display: flex;
}

.profile-content .speciality-item {
    margin: 0 !important;
}

.sidenav li a {
    color: white !important;
    font-size: 1.1rem !important;
    font-weight: 400 !important;
}

li .active {
    font-weight: 500;
    font-size: 0.9rem;
}

.sidenav li .active {
    font-weight: 500;
    color: dodgerblue !important;
}

#nav-mobile {
    padding-left: 20px;
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#nav-mobile li {
    padding: 15px 40px;
    font: 500 12px 'Montserrat',sans-serif;
    text-transform: uppercase;
    color: white;
}

#nav-mobile li a {
    font-size: 0.8rem;
}

.divider {
    height: 1px !important;
    margin: 10px;
}

.banner {
    background-color: #2d343a;
    padding: 30px 0;
    margin-bottom: 50px;
    text-align: center;
    margin-top: -1px;
    font-family: 'Special Elite', cursive;
    color: #fff;
    font-size: 2rem;
}

.section {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.carousel img {
    width: 600px !important;
}

.carousel {
    margin-bottom: 50px !important;
}

#map {
    height: 600px;
    width: 100%;
}

footer {
    color: white;
    padding: 30px 0;
    margin-top: -7px;
}

.address {
    text-align: left;
}

.address-line {
    font: 400 15px 'Montserrat',sans-serif;
    display: inline-block;
    margin-bottom: 5px;
    line-height: 22px;
}

.week-day {
    min-width: 36px;
    display: inline-block;
    font-weight: bold;
}

.rights-reserved {
    padding-top: 20px;
    font: 400 12px 'Montserrat',sans-serif;
}

@media only screen and (max-width: 1024px) {
    .branding .site-title {
        font-size: 50px;
        line-height: 1.5;
        height: 75px;
    }

    #nav-mobile li {
        padding: 20px 4px;
    }

    .slogan-content {
        top: 600px;
    }

    #welcome, #mission {
        height: 60vh;
    }
}

@media only screen and (max-width: 768px) {
    #nav-mobile li {
        padding: 10px 5px;
    }

    .nav-wrapper .sidenav-trigger {
        height: 65px;
    }

    #welcome, #mission {
        height: 70vh;
    }

    .welcome-content {
        padding-top: 20px !important;
    }

    .banner {
        font-size: 2.3rem !important;
        margin-bottom: 20px !important;
    }

    .mobile-slogan-content {
        font-size: 2rem !important;
    }

    .doctors-content {
        margin-left: 0 !important;
    }

    .doctors-content img {
        padding-bottom: 40px !important;
    }

    .profile-content h1 {
        font-size: 3rem !important;
    }

    .profile-content p {
        font-size: 1.6rem !important;
    }
}

@media only screen and (max-width: 600px) {
    .branding .site-title {
        font-size: 25px;
        line-height: 1.5;
        height: 75px;
    }

    .banner {
        font-size: 1.5rem !important;
    }

    .nav-wrapper .sidenav-trigger {
        height: 62px !important;
        margin-left: 0 !important;
    }

    .welcome-content h1, .about-content h1, .mission-content h1 {
        font-size: 1.3rem !important;
    }

    .welcome-content p, .about-content p, .mission-content p {
        font-size: 1rem !important;
    }

    #mission {
        height: 60vh;
        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/472f9f6b176af7f76633240a059b7fa1405c2f8459b6764a5ebe6.jpeg") center;
        background-size: cover;
    }

    .mission-content {
        padding-top: 50px !important;
    }

    .profile-content h1 {
        font-size: 1.7rem !important;
    }

    .profile-content p {
        font-size: 1.4rem !important;
    }
}

@media only screen and (max-width: 360px) {
    #content-section #home {
        /*min-height: 160vh !important;*/
    }
}